[alias]
    last = log -1 HEAD
    plog = log --oneline --decorate --all --graph
    st = status
    co = checkout
    up = !git submodule update --init --recursive
[help]
	autocorrect = 1
[user]
	email = you@example.com
	name = Your Name
