st.font:	Liberation Mono:pixelsize=14:antialias=true:autohint=true; 

/* name		dark	light */
/* black	0	8 */
/* red		1	9 */
/* green	2	10 */
/* yellow	3	11 */
/* blue		4	12 */
/* purple	5	13 */
/* cyan		6	14 */
/* white	7	15 */


/* !! gruvbox light: */
/* *.color0: #fbf1c7 */
/* *.color1: #cc241d */
/* *.color2: #98971a */
/* *.color3: #d79921 */
/* *.color4: #458588 */
/* *.color5: #b16286 */
/* *.color6: #689d6a */
/* *.color7: #7c6f64 */
/* *.color8: #928374 */
/* *.color9: #9d0006 */
/* *.color10: #79740e */
/* *.color11: #b57614 */
/* *.color12: #076678 */
/* *.color13: #8f3f71 */
/* *.color14: #427b58 */
/* *.color15: #3c3836 */
/* *.background: #fbf1c7 */
/* *.foreground: #282828 */
/* st.alpha: 0.9 */


/* ! base16 */
/* *.color0:       #181818 */
/* *.color1:       #ab4642 */
/* *.color2:       #a1b56c */
/* *.color3:       #f7ca88 */
/* *.color4:       #7cafc2 */
/* *.color5:       #ba8baf */
/* *.color6:       #86c1b9 */
/* *.color7:       #d8d8d8 */
/* *.color8:       #585858 */
/* *.color9:       #ab4642 */
/* *.color10:      #a1b56c */
/* *.color11:      #f7ca88 */
/* *.color12:      #7cafc2 */
/* *.color13:      #ba8baf */
/* *.color14:      #86c1b9 */
/* *.color15:      #f8f8f8 */

/* !! solarized */
*.color0:	#073642 
*.color1:	#dc322f 
*.color2:	#859900 
*.color3:	#b58900 
*.color4:	#268bd2 
*.color5:	#d33682 
*.color6:	#2aa198 
*.color7:	#eee8d5 
*.color9:	#cb4b16 
*.color8:	#fdf6e3 
*.color10:	#586e75 
*.color11:	#657b83 
*.color12:	#839496 
*.color13:	#6c71c4 
*.color14:	#93a1a1 
*.color15:	#fdf6e3 

/* !! xterm */
/* *.color0:   #000000 */
/* *.color1:   #cd0000 */
/* *.color2:   #00cd00 */
/* *.color3:   #cdcd00 */
/* *.color4:   #0000cd */
/* *.color5:   #cd00cd */
/* *.color6:   #00cdcd */
/* *.color7:   #e5e5e5 */
/* *.color8:   #4d4d4d */
/* *.color9:   #ff0000 */
/* *.color10:  #00ff00 */
/* *.color11:  #ffff00 */
/* *.color12:  #0000ff */
/* *.color13:  #ff00ff */
/* *.color14:  #00ffff */
/* *.color15:  #aabac8 */
/* *.background:   #000000 */

/* ! Dracula Xresources palette */
/* *.foreground: #F8F8F2 */
/* *.background: #282A36 */
/* *.color0:     #000000 */
/* *.color8:     #4D4D4D */
/* *.color1:     #FF5555 */
/* *.color9:     #FF6E67 */
/* *.color2:     #50FA7B */
/* *.color10:    #5AF78E */
/* *.color3:     #F1FA8C */
/* *.color11:    #F4F99D */
/* *.color4:     #BD93F9 */
/* *.color12:    #CAA9FA */
/* *.color5:     #FF79C6 */
/* *.color13:    #FF92D0 */
/* *.color6:     #8BE9FD */
/* *.color14:    #9AEDFE */
/* *.color7:     #BFBFBF */
/* *.color15:    #E6E6E6 */

/* *.background: .color0 */
/* *.color256: 0#1d2021 */
/* *.color257: 15#ebdbb2 */

