
/* --- Global-Settings ---*/

* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11px;
  font-weight: bold;
  min-height: 0px;
  }

  /* --- Waybar ---*/
  window#waybar {
  background-color: #1d2021;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.empty #window {
  background: transparent;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: transparent;
  padding: 0;
  margin: 0;
}
#waybar.empty .modules-center {
  opacity: 0;
}

/* --- Tooltip ---*/
tooltip {
  opacity: 1;

 }

/* --- Workspaces --- */
#workspaces {
  border-radius: 2px;
  margin: 3px 2px;
}

#workspaces button {
  padding: 0px 2px;
  margin: 0 3px 0 0;
  border-radius: 2px;
  background-color: #3c3836;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.8);
  color: #ebdbb2;
}

#workspaces button.active {
    background-color: #fabd2f;
    color: #282828;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.8);
}

#workspaces button:hover {
    background-color: #504945;
    color: #fabd2f;
}


/* --- General Modules --- */

#tray,
#window,
#mpris,
#cpu,
#clock,
#battery,
#network,
#memory,
#backlight,
#bluetooth,
#pulseaudio,
#language,
#custom-weather,
#custom-update,
#idle_inhibitor,
#custom-omarchy,
#custom-voxtype,
#custom-voxtype.recording,
#custom-voxtype.transcribing,
#custom-screenrecording-indicator,
#custom-updatespacman {
  min-width: 14px;
  margin: 3px 2px 6px 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.8);
}

/* --- Hover right module  --- */
#clock:hover,
#tray:hover,
#custom-expand-icon:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#battery:hover,
#bluetooth:hover,
#backlight:hover,
#language:hover,
#custom-omarchy:hover,
#custom-weather:hover,
#custom-update:hover,
#idle_inhibitor:hover,
#custom-screenrecording-indicator,
#custom-updatespacman:hover,
#network:hover,
#pulseaudio:hover {
  border-radius: 2px;
  opacity: 0.9;
  background-color: #504945;
  color: #fabd2f;
}

/* --- Gruvebox-Colors-Module --- */
#window {
    background-color: #eadbb2;
    color: #282828;
}

#custom-omarchy {
  background-color: #3c3836;
  color: #ebdbb2;
}

#custom-update, #custom-updatespacman {
  background-color: #fabd2f;
  color: #282828;
}

#clock {
    background-color: #3c3836;
    color: #ebdbb2;
}
#idle_inhibitor {
    background-color: #3c3836;
    color: #ebdbb2;
}

#custom-weather {
    background-color: #3c3836;
    color: #ebdbb2;
}

#tray {
    background-color: #3c3836;
}

#battery {
    background-color: #b8bb26;
    color: #282828;
}

#cpu {
    background-color: #fabd2f;
    color: #282828;
}

#memory {
    background-color: #8ec07c;
    color: #282828;
}

#network {
    background-color: #689d6a;
    color: #282828;
}

#pulseaudio {
    background-color: #fb4934;
    color: #282828;
}

#backlight {
    background-color: #d3869b;
    color: #282828;
}

#bluetooth {
       background-color: #d65d0e;
    color: #282828;
}

#language {
    background-color: #83a598;
    color: #282828;
}

#custom-voxtype {
  background-color: #3c3836;
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  background-color: #3c3836;
  color: #a55555;
}

/* Specific Module */

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @transparent;
}

.hidden {
  opacity: 0;
}

tooltip {
 padding: 4px;
 background-color: #3c3836;
 border: 1px solid alpha(@foreground, 0.8);
 border-radius: 4px;
 font-size: 12px;
 
}
tooltip label {
    color: #ebdbb2;
    font-weight: normal;
}


/* --- Warnings --- */
#cpu.critical,
#memory.critical,
#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #fe8019;
    color: #282828;
}

/* Specific animation Module */

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}

#mpris {
    background-color: #d65d0e;
    color: #101010;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #504945;
        
    }
}
